@{
    this.ViewData["Title"] = $"{@Model.Name} Race";
}
<h1>@Model.Name</h1>
By @Model.OrganizerName
<br />
<br />
Distance: <h3>@Model.Distance km</h3>
<br />
<br />
<dl>
    <dt><b>Description:</b></dt>
    <dd>@Model.Description</dd>
</dl>
<br />
<br />
@if (User.IsInRole(TichTich.Common.GlobalConstants.OrganizerRoleName))
{
    <a href="~/organizers/results?raceId=@Model.Id" type="button" class="btn btn-primary">Results</a>
}
@if (!Model.IsParticipating)
{
    <a href="~/racers/participate?raceId=@Model.Id" type="button" class="btn btn-primary">Participate</a>
}
