@{
    //Layout = "~/Views/shared/_Layout.cshtml";
    this.ViewData["Title"] = "Home Page";
}
<link href="~/css/homepage.css" rel="stylesheet" />


<div>
    <div class="wrapper">
        <div class="parent" onclick="">
            <div class="child bg-one">
                <a class="photo" asp-area="" asp-controller="races" asp-action="Road">Road races</a>
            </div>
        </div>

        <div class="parent right" onclick="">
            <div class="child bg-two">
                <a class="photo" asp-area="" asp-controller="races" asp-action="Trail">Trail races</a>
            </div>
        </div>
    </div>
</div>
