<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
@using TichTich.Common
@using TichTich.Data.Models
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <div class="row">
        <div class="col-lg-6">
            <a asp-area="" asp-controller="races" asp-action="Road"> 
                <figure class="figure">
                    <img src="../images/RoadRace.jpg" class="figure-img img-fluid rounded" alt="Road">
                    <figcaption class="figure-caption text-left">
                        Road races
                    </figcaption>
                </figure>
            </a>
        </div>
        <div class="col-lg-6">
            <a asp-area="" asp-controller="races" asp-action="Trail">
                <figure class="figure">
                    <img src="../images/TrailRace.jpg" class="figure-img img-fluid rounded" alt="Trail" >
                    <figcaption class="figure-caption text-right">
                        Trail races
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
</div>
